#body{
    background: linear-gradient(#101, #414, #101);
    height: 100vh;
    align-items: center;
    text-align: center;
}
#janelaDeTemas{
    border-radius: 15px;
    background-color: purple;
    border: 2px solid blue;
    padding: 10px;
}
#temas{
    background: #6959cd;
    border-color: blue;
    color: white;
    background-image: none;
}
#send{
    border-radius: 15px;
    border-color:bisque;
    background: #4169e1;
    cursor: pointer;
}
#cancel{
    border-radius: 15px;
    border-color:bisque;
    background-color: red;
    cursor: pointer;
}
#inserirTexto{
    border-radius: 10px;
    background-color: purple;
    border-color: blue;
    color: white;
}
#mensagemRobot{
    border: 5px solid green;
    border-radius: 15px;
    background-color: black;
    color: white;
    text-align: left;
    font-size: 12px;
    outline:none;
    resize:none;
    width: 270px;
    height: 200px;
    margin-top: 80px;
    padding: 10px;
}
#mensagemEnviada{
    border: 5px solid green;
    border-radius: 15px;
    border-color: green;
    background-color: black;
    font-size: 12px;
    color: white;
    text-align: left;
    outline:none;
    resize:none;
    width: 270px;
    height: 200px;
    padding: 10px;
}
#informacoesDasOpcoes{
    border:2px solid green;
    margin-top: 10px;
}
